.container {
    background-color: black;
    border-radius: 35px;
    width: 250px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#display{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 250px;
    height: 150px;
    background-color: #212425;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: end;
    align-content: flex-end;
    text-align: end;
    
}
.row{
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    gap: 20px;
    
}

input{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

#digit_yellow{
        background-color: chocolate;
        border: none;
        color: white;    
}
.downspace{
    height: 300px;
    justify-content: space-between;
}
.line{
    margin-top: 20px;
    width: 100px;
}

.ash_color{
    input{
        background-color: #3b4246;
        border: none;
        color: white;
        width: 50px;
    }
    
}
.gray_color{
    input{
        background-color: #c6d2d8;
        border: none;
        color: black;
        width: 50px;
    }

}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}