.container{
    margin: 5px;
    margin-top: 10px;
    width: 170px;
    height: 300px;
    border: 2px solid blue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        margin-top: 10px;
        width: 150px;
        border-radius: 15px;
        height: 50%;
    }
    background-color: rgb(250, 252, 252);
}